<div class="flex flex-col items-center justify-center mt-24">
  <div class="w-full max-w-2xl bg-gray-800 rounded shadow p-8">
    <h2 class="text-2xl font-semibold text-blue-300 mb-6 text-center">Edit Log Entry <%= @log_entry.id %></h2>
    <%= render "form", log_entry: @log_entry %>
  </div>
</div>
