<%= turbo_frame_tag("new_log_entry") do %>
  <div class="bg-gray-800 rounded shadow p-6 min-h-[20rem]">
    <h2 class="text-2xl font-semibold text-blue-300 mb-4">New Log Entry</h2>
    <%= render "form", log_entry: @log_entry %>
  </div>
<% end %>
